<div>
  <h2>Upload de Arquivo JSP</h2>
  <input type="file" (change)="onFileSelected($event)" accept=".jsp" required/>

  <div *ngIf="fileContent">
    <h3>Conteúdo Original do Arquivo:</h3>
<!--    <pre>{{ fileContent }}</pre>-->

    <button (click)="montarConteudo()">Montar Conteudo Geral</button>
    <button (click)="downloadModifiedContent()">Baixar Conteúdo Modificado</button>
    <button (click)="montarFView()">Mostrar array</button>
  </div>

  <div *ngIf="conteudoPrincipal">
    <h3>Conteúdo Modificado do Arquivo:</h3>
    <pre>{{ conteudoPrincipal }}</pre>
  </div>
</div>
