<div>
  <h2>Upload de Arquivo JSP</h2>
  <input type="file" (change)="onFileSelected($event)" accept=".jsp" required/>

  <div *ngIf="fileContent">
    <h3>Conteúdo Original do Arquivo:</h3>
    <pre>{{ fileContent }}</pre>

    <button (click)="modifyContent()">Modificar Conteúdo</button>
    <button (click)="downloadModifiedContent()">Baixar Conteúdo Modificado</button>
  </div>

  <div *ngIf="modifiedContent">
    <h3>Conteúdo Modificado do Arquivo:</h3>
    <pre>{{ modifiedContent }}</pre>
  </div>
</div>
